In [2]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [7]:
i="siddhodhana"
i.capitalize()

'Siddhodhana'

In [8]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

In [9]:
i.casefold()#converts caps to small

'siddhodhana'

In [12]:
i.center(15) #the given word put in center

'  siddhodhana  '

In [55]:
i.center(15,'*')

'*******s*******'

In [31]:
s="siddhodhana"
length=len(s)
d=s[::-1]
print(d)
for i in d:
    print(d.count(i),end=" ")

anahdohddis
2 1 2 2 3 1 2 3 3 1 1

In [15]:
help(str.encode)

Help on method_descriptor:

encode(self, /, encoding='utf-8', errors='strict')
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

In [39]:
s="siddu"
s.endswith("u")
s.endswith("i")

False

In [40]:
s.find("d")

2

In [46]:
s.format("")

'siddu'

In [42]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [47]:
s1=s.encode('utf-8')

In [48]:
s1

b'siddu'

In [49]:
s1[0]

115

In [50]:
ord('f')

102

In [51]:
s1.decode('utf-8')

'siddu'

In [52]:
chr(102)

'f'

In [53]:
type(s1)

bytes

In [54]:
s

'siddu'

In [57]:
'length of {1} is {0}'.format(len(s),s)

'length of siddu is 5'

In [59]:
'length of {arg1} is {arg0}'.format_map({'arg0':len(s),'arg1':s})

'length of siddu is 5'

In [60]:
help(s.maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

In [61]:
s.maketrans('abc','def')

{97: 100, 98: 101, 99: 102}

In [62]:
ord('a'),ord('b')

(97, 98)

In [63]:
s.maketrans('abc','def','adc')

{97: None, 98: 101, 99: None, 100: None}

In [67]:
table=s.maketrans('def','abc')

In [68]:
s.translate(table)

'siaau'

In [77]:
s.translate({100:'z'})

'sizzu'

In [73]:
ord('d')

100

In [92]:
s='siddu ece'
a=s.split(' ')
a
b='_'.join(a)
b

'siddu_ece'

In [104]:
#given all the  names with  their individual scroes of 10 batsmen 
#print their ranking based on the scores
#example
   #a=500
    #b=700
    #c=300
    #d=90
    #e=100
    #f=200

s={'giri':500,'siddu':700,'bharu':300,'mohan':90,'ramu':100,'kavitha':200}
s1=sorted(s.items(),key=lambda k:k[1],reverse=True)
print(s1)
rank=1
for i in s1:
    print(rank,i[0])
    rank+=1

[('siddu', 700), ('giri', 500), ('bharu', 300), ('kavitha', 200), ('ramu', 100), ('mohan', 90)]
1 siddu
2 giri
3 bharu
4 kavitha
5 ramu
6 mohan

### common factors count for two integers

In [111]:
#common factors count for two integers
def common(a,b):
    count=0
    n=max([a,b])
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            print(i,end=" ")
            count+=1
    print("\n",count)
common(10,15)

1 5
 2

### exam sums

In [3]:
li=[]
while True:
    n=input()# 36 72 33 EXIT
    if n=="EXIT":
        break
    elif int(n)%2==0:
        li.append(int(n))
print(li)
print(" ".join(map(str,li)))
print(max(li))

36
72
33
EXIT
[36, 72]
36 72
72

In [ ]:
li=[]
while True:
    n=input()# 36 72 33 EXIT
    if n=="EXIT":
        break
    elif int(n)%2==0:
        li.append(int(n))

In [5]:
s="https://google.com"
words=s.split(',')
words[-1]

'https://google.com'

In [15]:
n=int(input())
d={}
for i in range(n):
    s=input().split('.')[-1]
    if s in d:
        d[s]+=1
    else:
        d[s]=1
print(d)
max(list(d.values()))

3
sdfgh.com
dfghj.in
dfghj.com
{'com': 2, 'in': 1}

2