In [4]:
def kthLatgest(li):
    cli=li
    while(True):
        li2=differencePairs(li) 
        if len(li2)==0:
            break
    return li

def differencePairs(li):#Print the difference numbers if is not in li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                newelements.append(difference)
        li.extend(newelements)
    return newelements
li=[1,9,8,7,6,5,3,4,2]               
print(kthLatgest(li))

[1, 9, 8, 7, 6, 5, 3, 4, 2]

In [5]:
##second largest number
def kthLatgestmodel2(li,k):  # Constant array
    while(True):
        li2=differencePairs(li) #[1,9,8,7,6,5,4,3,2]
        #print(li2)
        if li2[0]==li2[1]:
            break
    if len(li2[0])>k:
        return sorted(li2[0],reverse=True)[k-1]
    else:
        return -1

def differencePairs(li):#Print the difference numbers if is not in li
    cli=li[:]  #print(cli)
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li:
                newelements.append(difference)
        li.extend(newelements)
    return [cli,li] 
li=[1,9]
print(kthLatgestmodel2(li,2))

8

 ### Function to print all combination of pairs if integers in a unique list
 
 [1,2,3]--> (1,2),(2,3),(2,3)///3c2 # 3!/((3-2)!)*r!

ncr=n!/(n-r)!*r!

In [5]:
#Function to print all combinations of pairs of integers in a unique list

#[1,2,3]-->(1,2),(1,3),(2,3)->3c2_--->3!/((3-2)!*2!)

#[1,2,3,4]-->(1,2),(1,3),(1,4),(2,3),(2,4),(3.4)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
li=[1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [11]:
#three combinations[1,2,3,4]-->(1,2,3),(1,2,4),(1,3,4),(2,3,4)
def threecombinations(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
                                   
    return        
li=[1,2,3,4]
threecombinations(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [60]:
#[1,2,3]->[1,2,3]
def medium(li,k):
    #li3=[[],li]
    while(True):
        li3=differencepairs(li)
        print(li3)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>k:
        return sorted (li3[0],reverse=True)[k-1]
    else:
        return -1
#function to identify differences of all
#pairs of numbers and add those differences to the list it returns the updated list and original list
def differencepairs(li):
    cli=li[:]
    print(cli)
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)       
    return [cli,li] 
li=[1,9]
print(medium(li,2))

[1, 9]
[[1, 9], [1, 9, 8]]
[1, 9, 8]
[[1, 9, 8], [1, 9, 8, 7, 7, 2]]
[1, 9, 8, 7, 7, 2]
[[1, 9, 8, 7, 7, 2], [1, 9, 8, 7, 7, 2, 6, 6, 6, 6, 3, 3, 6, 6, 3, 3, 5, 5, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4]]
[1, 9, 8, 7, 7, 2, 6, 6, 6, 6, 3, 3, 6, 6, 3, 3, 5, 5, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4]
[[1, 9, 8, 7, 7, 2, 6, 6, 6, 6, 3, 3, 6, 6, 3, 3, 5, 5, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4], [1, 9, 8, 7, 7, 2, 6, 6, 6, 6, 3, 3, 6, 6, 3, 3, 5, 5, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4, 6, 6, 3, 3, 5, 5, 0, 4, 4, 4, 4]]
8

In [23]:
l=abs(1.5)

In [41]:
a=[1,2,3,4]
b=[3,4,5,6]
a=b
a.append(7)
a
b.append(5)
a

[3, 4, 5, 6, 7, 5]

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
#convert the list into an arithmetic progression

### Set -Data Structure in Python

Represented by '{}'

In [11]:
a={1,2,3,4,5,6,6} #which called as set and it is immutable and they r not order

a.add(7)# add is a method and this is for adding single element

#for i in a:
 #   print(i,end=' ')   ->Accessing element in for loop
b={7,8,9}
li=[11,12,13,1]

a.update(b,li) # Adding multiple elements
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [12]:
a.discard(12) #if we want to remove single element then use discard
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13}

In [14]:
a={10,2,3,4,5,67,8,9}
b={7,8,9,1,2,3}

a.union(b)
# A U B=B U A

{1, 2, 3, 4, 5, 7, 8, 9, 10, 67}

In [19]:
a={10,2,3,4,5,67,8,9}

b={7,8,9,1,2,3}

c={23,45,78,9,56}

a.intersection(b)

{2, 3, 8, 9}

In [25]:
a={1,12}

b={2,8}
a.isdisjoint(b) #is not same elements true  display

True

In [26]:
a={1,12}

b={1,12}
a.isdisjoint(b) # same elements false display

False

In [21]:
a={10,2,3,4,5,67,8,9}

b={7,8,9,1,2,3}

c={23,45,78,9,56}

a - b #All elements of a which are not in b

{4, 5, 10, 67}

In [22]:
sorted(a)

[2, 3, 4, 5, 8, 9, 10, 67]

In [27]:
a={1,2,34,5,67,7,8}
b={6,7,8,9,10}
a^b   # Elements is a or b except common of both

{1, 2, 5, 6, 9, 10, 34, 67}

In [28]:
d=set() # creats an empty set
d

set()

In [29]:
li=[1,2,3,4,6,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4, 6}

### FUNCTIONAL PROGRAMMING

Procedural : c
    
object oriented :java,python
    
Scripting -PHP,Python,JavaScript,Shell

Functional : python,Haskell,Scala

Logic: Prolog,Lisp

### LIST COMPREHENSIONS

In [33]:
# List of N natural numbers
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
    
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
#Apply list comprehension to store the cubes on n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [40]:
li=[i*0.5 for i in range(1,11)]
li

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [45]:
from math import sqrt as s
li=[s(i) for i in range(1,5)]   
li

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [46]:
import math
li=[math.sqrt(i) for i in range(1,5)]
li

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [53]:
# Function product of n natural numbers(factorial)
def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)
factorial(4)

24

In [52]:
#Apply list comprehension to calculate 
#factorial of n natural numbers
  
n=5
factoriallist=[factorial(i) for i in range (1,n+1)]
factoriallist

[1, 2, 6, 24, 120]

In [55]:
#Store cumulative sum of numbers till n in a list
#n=3--> output is [1,3,6]
n=6
cumulativesum=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativesum

[1, 3, 6, 10, 15, 21]

In [62]:
#list comprehension to store only
#leapyears in a given time period
sy=1970
ey=2019
#leapyears=[]
#leapyear=[1972,1976,1980,....2016]
ly=[year for year in range(sy,ey+1) if(year%400==0 or year%4==0 and year%100!=0)]
ly

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [69]:
li=[1,2,3,2,5,6,2,1]
u2=[]
unique=[]
#unique=[i for i in range(0
,len(li)-1) if sorted(li)[i]!=sorted(li)+[i+1]]
unique=[u2.append(i) for i in li if i not ]

[1, 2, 3, 4, 5, 6]

### Iterators

- Iterable- Strings,Lists,Tuples,Sets,Dictionaries

- Convert Iterable to Iterator-->iter()
- For Loop: 


- Iterator:

In [77]:
it=iter('python')
print(next(it))
print(next(it))
next(it)

p
y

't'

In [73]:
it=iter('python')
for i in it:
    print(next(it))

y
h
n

In [78]:
it=iter('python')

print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))

1:
p


2:
y

### Generator

Generator is a function

In [83]:
def generator():
    n=2
    yield n
    
    n=n **3
    yield n
    
    n=n **3
    yield n
a=generator()

next(a)
next(a)

8

In [85]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
        
a=generator()

next(a)
b=next(a) ** 2
b*=next(a)
b

35184372088832

In [87]:
def generator():
    n=2
    while True:
        n**=3
        yield n
        
a=generator()
for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208