### DAY-1 FUNCTIONS,MODULES,PACKAGES

## Functions

### syntax
 ### def funname(arg1.arg2,...):
   ### statement1
   ### statement2
   ### statement3
   ### statement4
   ### return

In [2]:
def greet():
    print('hello everyone')

In [3]:
greet()

hello everyone

In [4]:
print(greet())

hello everyone
None

In [5]:
var=greet()
var

hello everyone

In [6]:
print(var)

None

In [9]:
def greetwithname(firstname,lastname):
    print('Hello everyone This is',firstname,lastname)

In [10]:
#Hello every one This is machine learning
greetwithname('machine','learning')

Hello everyone This is machine learning

In [13]:
def greetwithname1(firstname,lastname):
    print('Hello everyone This is'+' '+firstname+' '+lastname)

In [14]:
greetwithname1('m','l')

Hello everyone This is m l

In [15]:
def mysum(a,b=10):
    return a+b

In [17]:
mysum(4)

14

In [20]:
def mysum(a=20,b=10):
    return a+b

In [21]:
mysum()

30

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

In [22]:
list(range(2,6))

[2, 3, 4, 5]

In [23]:
list(range(2,6,2))

[2, 4]

In [1]:
def myrange(start,stop,step):
    li=[]
    i=start
    while i<stop:
        li.append(i)
        i=i+step
    return li

In [2]:
myrange(2,8,1)

[2, 3, 4, 5, 6, 7]

In [3]:
def myrange(stop,start=0,step=1):
    li=[]
    i=start
    while i<stop:
        li.append(i)
        i=i+step
    return li

In [4]:
myrange(2)

[0, 1]

In [5]:
def myprod(*values):
    f=1
    for i in values:
        f=f*i
    return f

In [7]:
myprod(3),myprod(2,3),myprod(2,3,4,5)

(3, 6, 120)

In [8]:
myprod()

1

In [10]:
def welcome(**names):
    for k,v in names.items():
        print(k,v)
welcome(sub1='ml',sub2='DS',sub3='AI')

sub1 ml
sub2 DS
sub3 AI

 ### Define a function for multiplication table.by default the function should print the table from 1 to 10
 ### mytable(n,start,stop)
 ### mytable(5)
 ### mytable(5,2,5)
 ### mytable(5,3)

In [13]:
def mytable(n,start=1,stop=10):
    for i in range(start,stop+1):
        print(str(n)+'*'+str(i)+'=',i*n)

In [14]:
mytable(5)

5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

In [15]:
mytable(5,2,5)

5*2= 10
5*3= 15
5*4= 20
5*5= 25

In [16]:
mytable(5,3)

5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

In [35]:
#define a function to return the prime numbers in the inputs as a list
#myprimes(2,8,9) #o/p[2]
#myprimes(23,56,78,71)# o/p[23,71]
def prime(n):
    c=0
    for i in range(1,n+1):
        if(n%i==0):
            c+=1
    if c==2:
        return n
prime(2)

2

In [36]:
def myprimes(*n):
    li=[]
    for i in n:
        if prime(i):
            li.append(i)
        return li

In [37]:
myprimes(2,8,9,4,6,7)

[2]

In [35]:
def isprime(n):
    flag=True
    for i in range(2,(n//2)+1):
        if n%i==0:
            flag=False
    return flag

In [36]:
isprime(71)

True

In [26]:
def myprimes(*numbers):
    #Docstring
    '''This function will take multiple numbers as input.
    Return a list with prime numbers.'''
    li=[]
    for each in numbers:
        if isprime(each):
            li.append(each)
    return li

In [41]:
myprimes(4,5,6,32,9)

[5, 9]

In [38]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [43]:
help(myprimes)

Help on function myprimes in module __main__:

myprimes(*numbers)
    This function will take multiple numbers as input.
    Return a list with prime numbers.

In [47]:
import python

In [48]:
dir(python)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'marks',
 'predict']

In [49]:
python.marks

100

In [50]:
python.predict(6)

13

In [3]:
def propername(firstname,lastname):
    print(firstname.capitalize()+" "+lastname.capitalize())
propername("siddHodhana","SakhamBari")

Siddhodhana Sakhambari

In [8]:
def proper(name):
    n=name.split()
    print(n[0].capitalize()+" "+n[1].capitalize())
proper("SiddHodhana sakhAmbari")

Siddhodhana Sakhambari

In [9]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### anonymus function
### lambda arguments:expression

### add two lists element wise
### a=[1,2,3,4]
### b=[2,3,4,5]
### o/p=[3,5,7,9]
### define function with two arguments a,b which are lists,return value of the function in a list

In [17]:
def twoelements(a,b):
    li=[]
    s=[a[0]+b[0],a[1]+b[1],a[2]+b[2],a[3]+b[3]]
    print(s)
    li.append(s)
a=[1,2,3,4]
b=[2,3,4,5]
twoelements(a,b)

[3, 5, 7, 9]

In [2]:
studentmarks=[['raj',56,78,89],['ravi',78,89,37],['giri',45,67,92],['rohan',75,85,44]]

In [3]:
for i in range(len(studentmarks)):
    studentmarks[i].append(sum(studentmarks[i][1:]))
studentmarks

[['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['giri', 45, 67, 92, 204],
 ['rohan', 75, 85, 44, 204]]

In [26]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [5]:
a=[67,78,56,67]
a.sort()
a

[56, 67, 67, 78]

In [6]:
sorted(studentmarks,key=lambda x:x[-1])

[['ravi', 78, 89, 37, 204],
 ['giri', 45, 67, 92, 204],
 ['rohan', 75, 85, 44, 204],
 ['raj', 56, 78, 89, 223]]

In [9]:
check=sorted(studentmarks,key=lambda x:x[-1])

In [11]:
maths=0
for i in check:
    if i[-1]==204:
        if maths<i[2]:
            name=i[0]
            maths=i[2]
print(name)

ravi

In [7]:
sorted(studentmarks,key=lambda x:x[0])

[['giri', 45, 67, 92, 204],
 ['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['rohan', 75, 85, 44, 204]]

In [14]:
a=[1,2,3,45,9];b=[6,7,89,5,6]

In [17]:
list(map(lambda x,y:x+y,a,b))

[7, 9, 92, 50, 15]

In [20]:
list(map(lambda x:x%2==0,a))

[False, True, False, False, False]

In [21]:
True+False

1

In [22]:
sum(list(map(lambda x:x%2==0,a)))

1

In [37]:
sum(list(map(isprime,range(1,1001))))

169

In [ ]:
def check(x):
    return x[1]

In [39]:
sum(list(map(isprime,range(1,9))))

5

input=5<br>
`1
2 9
3 8 10
4 7 11 14
5 6 12 13 15`

In [76]:
def triangle(n):
    num=1
    for i in range(0,n+1):
        x=0        
        for j in range(0,i):
            for k in range(j):
                print(num,end=" ")
                num=num+1
        print("\r")
        
triangle(5)

1
2 3 4
5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20

n=5
pat=[]
val=1
for i in range(n):
pat[i].extend(list(range(val,val+n-i))
val=pat[i][-1]+1
pat

In [78]:
n=5
pat=[]
val=1
for i in range(n):
    pat.append([])
    pat[i].extend(list(range(val,val+n-i)))
    val=pat[i][-1]+1
pat

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12], [13, 14], [15]]

In [80]:
for i in range(1,len(pat),2):
    pat[i].sort()
    pat[i]=pat[i][::-1]
pat

[[1, 2, 3, 4, 5], [9, 8, 7, 6], [10, 11, 12], [14, 13], [15]]

In [81]:
for i in range(len(pat)):
    if len(pat[0])!=len(pat[i]):
        for j in range(i):
            pat[i].insert(0,0)
pat

[[1, 2, 3, 4, 5],
 [0, 9, 8, 7, 6],
 [0, 0, 10, 11, 12],
 [0, 0, 0, 14, 13],
 [0, 0, 0, 0, 15]]

In [82]:
for i in list(zip(*pat)):
    for j in i:
        if j!=0:
            print(j,end='')
    print()

1
29
3810
471114
56121315