### classes and objects
class is collection of objects

In [6]:
class Point:
    def distanceFromOrigin(self,x,y):
        return (x*x+y*y)**0.5

In [10]:
Point().distanceFromOrigin(3,4)

5.0

In [52]:
class Point:
    def __init__(self,x=0,y=0):## pair of underscores
        self.x=x
        self.y=y
    def distanceFromOrigin(self):
        return (self.x**2+self.y**2)**0.5
    def distance2Points(self,x1,y1):
        return ((x1-self.x)**2+(y1-self.y)**2)**0.5
    def midPoint(self,x1,y1):
        return Point((self.x+x1)/2,(self.y+y1)/2)
    def print_Point(self):
        print('({},{})'.format(self.x,self.y))

In [53]:
p1=Point()
print(p1.x,p1.y)

0 0

In [54]:
p2=Point(3,4)
print(p2.x,p2.y)

3 4

In [55]:
p2.distanceFromOrigin()

5.0

In [56]:
p1=Point()
print(p1.x,p1.y)
p2=Point(3,4)
print(p2.x,p2.y)
print(p1.distanceFromOrigin())
n())
print(p2.distance2Points(1,1))
mid=p2.midPoint(1,1)
print(mid.x,mid.y)
#print(mid.x,mid.y)
mid.print_Point()

0 0
3 4
0.0
5.0
3.605551275463989
2.0 2.5
(2.0,2.5)

In [63]:
class SMS_store:
    def __init__(self):
        self.messages=[]
    def add_new_arrival(self,from_number,time_arrived,text_of_SMS):
         self.messages.append([from_number,time_arrived,text_of_SMS,False])
    def message_count(self):
        return len(self.messages)
    def get_unread_indexes(self):
        for msg in range(len(self.messages)):
            if self.messages[message][-1]==False:
                unread_ind.append(msg)
        return unread_ind
    def get_message(self,i):
        self.messages[i][-1]=True
        return self.messages[:3]
    def get_delete(self,i):
        self.messages.pop(i)
    def clear():
        self.messages.clear()

In [66]:
myInbox=SMS_store()
myInbox.add_new_arrival(9492904347,'8:30AM','HIII How R U')

In [67]:
myInbox.messages

[[9492904347, '8:30AM', 'HIII How R U', False]]

In [69]:
myInbox.add_new_arrival(9492904347,'8:30AM','HIII How R U')

# Regular Expressions
 ## -for checking available data valid for us or not
## -To extract the data

In [72]:
import re

## search

## re.search(str_pattern,str_data)

In [76]:
name='python program'
print(re.search('p',name))

<re.Match object; span=(0, 1), match='p'>

### print the names which contains 'u' in their name by using regular expressions

In [79]:
names=['sairam','lakshmi','hanuman','raju']
for name in names:
    if re.search("u",name):
        print(name)

hanuman
raju

In [81]:
names=['sairam','lakshmi','hanuman','raju']
for name in names:
    if re.search("u",name):
        print(name)

hanuman
raju

### re.match(str_pattern,str_data)

In [82]:
name='python program'
print(re.match('p',name))

<re.Match object; span=(0, 1), match='p'>

In [83]:
name='python program'
print(re.match('r',name))

None

In [84]:
name='python program'
print(re.match('py',name))

<re.Match object; span=(0, 2), match='py'>

In [85]:
name='python program'
print(re.match('pr',name))

None

### re.findall(str_pattern,str_data)

In [86]:
name='python program'
print(re.findall('p',name))

['p', 'p']

In [87]:
name='python program'
print(re.findall('x',name))

[]

####  special characters with special meaning in regular expressions

### .dot
    any single character

In [90]:
print(re.search('.','sairam'))

<re.Match object; span=(0, 1), match='s'>

In [91]:
print(re.search('s.','sairam'))

<re.Match object; span=(0, 2), match='sa'>

In [92]:
print(re.search('i.','sairam'))#dot means any single character

<re.Match object; span=(2, 4), match='ir'>

In [93]:
print(re.match('s.','sairam'))

<re.Match object; span=(0, 2), match='sa'>

In [95]:
print(re.match('i.','sairam'))

None

In [96]:
re.search('...','ram')

In [100]:
re.search('.....','sree')

In [103]:
numbers=['12','123','1234','1234']
for number in numbers:
    if re.search('...',number):
        print(number)

123
1234
1234

### ^      starting with

In [108]:
print(re.search('^s','sairam'))

<re.Match object; span=(0, 1), match='s'>

In [107]:
print(re.search('^r','sairam'))

None

### $
ending with

In [109]:
re.search('m$','sairam')

In [111]:
print(re.search('a$','sairam'))

None

In [115]:
numbers=['12','123','1234','123','1234']
for number in numbers:
    if re.search('^...$',number):
        print(number)

123
123

In [113]:
re.search('ram$','sairam')

In [117]:
numbers=['12','123','1234','163','1234']
for number in numbers:
    if re.search('^1.3$',number):
        print(number)

123
163

### \d
    any single digit

In [120]:
print(re.search('\d','sairam1ram2'))

<re.Match object; span=(6, 7), match='1'>

### find sum of all digits in data

In [129]:
novel='every 1 has story or 100 stories'
#print(sum(map(int,re.findall('\d',novel))))
re.findall('\d',novel)

['1', '1', '0', '0']

In [130]:
novel='every 1 has story or 100 stories 200 hi'
#print(sum(map(int,re.findall('\d',novel))))
str_numbers=re.findall('\d',novel)
str_numbers

['1', '1', '0', '0', '2', '0', '0']

map(fun,collect_items)

In [127]:
sum(list(map(int,str_numbers)))

4

###  re.findall('\d\d\d',novel

In [131]:
re.findall('\d\d\d',novel)

['100', '200']

### {min,max}

In [133]:
re.search('.{2}','sairam')

In [134]:
re.search('.{6}','sairam')

In [135]:
re.search('.{2}','saim')

In [136]:
re.search('.{4,6}','s')

In [138]:
re.search('.{4,6}','sair')

In [139]:
re.search('.{4,6}','saira')

In [140]:
novel='every 1 has story or 100 or 3000 stories'
re.findall('\d{1,10}',novel)

['1', '100', '3000']

In [141]:
novel='every 1 has story or 100 or 3000 stories'
re.findall('\d{1,3}',novel)

['1', '100', '300', '0']

#### accept names which starts with either 'a','c','h'

#### [ach]
    either a or c or h

In [144]:
novel='every 1 has story or 100 or 3000 stories'
re.findall('\d{1,10}',novel)

In [145]:
re.search('[ach]','sairam')

In [146]:
re.search('[ch]','sairam')

In [147]:
re.search('[a-k]','lmnhai')

#### [^a-z]

      neither a nor c nor d

In [148]:
re.search('[^acd]','acdacdhai')

### try mobile number pattern

In [150]:
numbers=['9848065784','985679034','7894567393','5784353827']
for mobile in numbers:
    pattern='^[6-9]{1}[0-9]{9}$'
    pattern='^[6-9]\d{9}$'
    if re.search(pattern,mobile):
        print(mobile)

9848065784
7894567393

#### \D
    otherthan \d means any otherthan digit

In [1]:
import re
re.search('\D','123 ram')

### \s
   any spacing single character

In [2]:
re.search('\s','sai ram')

#### \S
     otherthan \s

In [3]:
re.search('\S','     ram')

##### \w
     single identifier character
     a-z A-Z _0-9

In [6]:
re.search('\w','  _9az')

In [7]:
re.search('\w','sai')

#### \W
    OTHERTHAN \W
    otherthan identifier characters

In [8]:
re.search('\W','sail_  ram')

### find the count of lowercase a-z in the given data

novel='Every 1 has Story'
re.findall('[a-z]',novel)

In [10]:
novel='Every 1 has Story'
chars=re.findall('[a-z]',novel)
print(chars)
print(len(chars))

['v', 'e', 'r', 'y', 'h', 'a', 's', 't', 'o', 'r', 'y']
11

In [14]:
novel='Every 1 has Story'
chars=re.findall('[aeiou]',novel)
print(chars)
print(len(chars))

['e', 'a', 'o']
3

In [29]:
novel='Every 1 has Story'
chars=re.findall('[^aeiou]',novel)
print(chars)
print(len(chars))

['E', 'v', 'r', 'y', ' ', '1', ' ', 'h', 's', ' ', 'S', 't', 'r', 'y']
14

### * star
     zero or more occurances

In [17]:
print(re.search('a*','python'))

<re.Match object; span=(0, 0), match=''>

In [18]:
print(re.search('1','111112245'))

<re.Match object; span=(0, 1), match='1'>

In [19]:
print(re.search('1*','111112245'))

<re.Match object; span=(0, 5), match='11111'>

In [20]:
print(re.search('^s.*m$','sm'))

<re.Match object; span=(0, 2), match='sm'>

In [21]:
print(re.search('^s.*m$','saim'))

<re.Match object; span=(0, 4), match='saim'>

In [24]:
print(re.search('^s*m$','szzzm'))

None

###  +
  ### 1 or more.
  ###  atleast 1 success or more success also accept.

In [26]:
re.search('1+','22221111333111')

In [27]:
re.search('^s.+m$','sm')

In [28]:
re.search('^s.+m$','sairam')

### write pattern for accepting gmail

In [38]:
print(re.search('[a-zA-z0-9].+[@gmail.com]','siddu999@gmail.com'))

<re.Match object; span=(0, 18), match='siddu999@gmail.com'>

### write pattern to find 3 digit numbers and calculate the sum

In [42]:
content='''ramu got 100 for maths,150 for physics,and from school to college total 4000 marks.'''

In [46]:
re.findall('\d\d\d',content)

['100', '150', '400']

In [49]:
re.findall('\d{1,3}',content)

['100', '150', '400', '0']

In [52]:
onlyDigits=re.findall('\d+',content)
print('only digits',onlyDigits)
only3Digits=list(filter(lambda x:len(x)==3,onlyDigits))
print('only3Digits',only3Digits)
print(sum(map(int,only3Digits)))

only digits ['100', '150', '4000']
only3Digits ['100', '150']
250