In [80]:
s

'siddhodhana'

In [14]:
d={'name':'python','rollno':'123','branch':'cse'}
d['name']

'python'

In [ ]:
t=int(input())
for i in range(t):
   s=list(map(int,input().split()))
   #print(s)
   print(abs(sum(s)))
t=int(input())
for i in range(t):
   k=" "
   s=input()
   for j in s:
       if j.isalpha():
           k+=chr(ord(j)+1)
       else:
           k+=j
   print(k)

In [15]:
d['name']="sdc"
d

{'name': 'sdc', 'rollno': '123', 'branch': 'cse'}

In [16]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [17]:
d.setdefault('marks',67)
d

{'name': 'sdc', 'rollno': '123', 'branch': 'cse', 'marks': 67}

In [18]:
d.setdefault('rollno',111)

'123'

In [19]:
d1={'names':['sunil','anil','rahul'],'rollno':[111,234,341]}
d1

{'names': ['sunil', 'anil', 'rahul'], 'rollno': [111, 234, 341]}

In [20]:
d1.keys()

dict_keys(['names', 'rollno'])

In [21]:
d1.values()

dict_values([['sunil', 'anil', 'rahul'], [111, 234, 341]])

In [22]:
d1['names']

['sunil', 'anil', 'rahul']

In [23]:
len(d1['names'])

3

In [24]:
len(d1['names'])
x=list(d1.values())
len(x[0])

3

In [25]:
for i in range(len(d1['names'])):
    print("student",i+1)

student 1
student 2
student 3

In [26]:
for i in range(len(d1['names'])):
    print("student",i+1)
    print(d1['names'][i],d1['rollno'][i])

student 1
sunil 111
student 2
anil 234
student 3
rahul 341

In [27]:
for i in range(len(d1['names'])):
    print("student",i+1,end=" ")
    print(d1['names'][i],d1['rollno'][i])

student 1 sunil 111
student 2 anil 234
student 3 rahul 341

In [28]:
names=d1['names']
type(names)
names

['sunil', 'anil', 'rahul']

In [29]:
for i in range(len(names)):
    print(i,names[i])

0 sunil
1 anil
2 rahul

In [30]:
for i,v in enumerate(names,6):
    print(i,v)

6 sunil
7 anil
8 rahul

In [31]:
marks={}.fromkeys(names,55)
marks

{'sunil': 55, 'anil': 55, 'rahul': 55}

In [32]:
d1.get('names')
d1.get('salary','not existed')

'not existed'

In [33]:
s="sunil 55 65 anil abdul 78"
s1=s.split()
s1

['sunil', '55', '65', 'anil', 'abdul', '78']

In [34]:
li=[]
li1=[]
d={}
for i in s1:
    if i.isalpha():
        print(i)
        
        li.append(i)
print(li)

for i in s1:
    if i.isdigit():
        li1.append(i)
print(li1)

for i in range(len(li)):
    d[li[i]]=li1[i]
    
d

sunil
anil
abdul
['sunil', 'anil', 'abdul']
['55', '65', '78']

{'sunil': '55', 'anil': '65', 'abdul': '78'}

In [35]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [37]:
s=['sunil','anil','abdul']

In [38]:
s

['sunil', 'anil', 'abdul']

In [40]:
s[0].__len__()

5

In [42]:
int.__mod__(4,3)

1

In [52]:
print("hi",end="$")
print("hello")

hi$hello

In [62]:
#required arguments
def add(a,b):
    return a+b
add(b=6,a=10)

16

In [67]:
# argument length
def sm(*arg):
    #print(arg)
    s=0
    for ki in arg:
        if ki=="exit":
            break
        s+=ki
    print(s)
    #return len(arg)
sm(1,2,3,4,5,"exit",45)

15

In [ ]:
#